<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pioneer Tech Inc</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="Header" class="header">
        <div class="header-content">
            <font color="orange">
                <center>
                    <h1>
                        @Html.ActionLink("Pioneer Technologies Inc", "Index", "Home",
                    new { id = 1 }, //   Route args if needed; null if not.
                    new { @style = "color:#FFA500;" })
                </h1>
                <h2>Efficiency and Innovation</h2>
            </center>
            </font>
        </div>
    </div>
    <div class="body-content">
        <div id="NavigationPanal" class="navigation">
            <ul style="list-style:none">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Employee Details", "Index", "Employee")</li>
                <li>@Html.ActionLink("Company Details", "SaveData", "Company")</li>
                <li>@Html.ActionLink("Project Details", "SaveData", "Project")</li>
                <li>@Html.ActionLink("Technical Details", "SaveData", "Technical")</li>
                <li>@Html.ActionLink("Education Details", "SaveData", "Education")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            
        </div>
        <br />
        <div id="Content" class="content">
            @RenderBody()
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pioneer Tech Inc", "Index", "Home")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personal Details", "Index", "Employee")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    *@
    <div id="Footer" class="footer">
        <div class="FooterContent">
            <br />
            Corporate Headquarters   :  1111 Corporate Drive, Suite ###  <br />
            Irving, Texas 00000 ,   Phone:972-111-**** <br />
           
            2017 Pioneer Technologies Inc. All rights reserved.
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
